.centered-text {

    width: 45%; /* Устанавливаем ширину элемента */
    height: 100%;
    margin: 0 auto; /* Центрируем элемент по горизонтали */
    text-align: center; /* Центрируем текст внутри блока */
    border: 2px solid #6a5acd; /* Добавляем рамку */
    color: #6a5acd;
    font-size: 18px;
    padding: 10px; /* Добавляем внутренние отступы */
    word-wrap: break-word; /* Перенос текста на новую строку, если нужно */
}

.parts {
    margin: 0 auto;  /* Центрируем контент по горизонтали */
    padding: 20px;   /* Добавляем отступы */
}

.pict {
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
}
