.logo_font {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "ROND" 100;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.position {
    display: flex;
    justify-content: space-around;
    background-color: #6a5acd;
    border-radius: 5px;
    height: 50px;
}

.logo {
    font-size: 35px;
    color: #F4F9B4;
    align-self: center;
}

.actions {
    align-self: center;
}

.boarded
{
    border: #F4F9B4 5px solid;
    background-color: #F4F9B4;
    color: rgb(106, 90, 205);
    border-radius: 5px;
    margin: 5px;
    align-self: center;
    text-decoration: none;
}