.invisible {
    border: none;
    background: none;
    color: #6a5acd;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.topic {
    border: solid 3px #6a5acd;
    border-radius: 5px;
    margin: 10px;
}